.search-input {
  margin-bottom: 20px;
}

label {
  display: none;
}

input {
  background-color: #f1f1f1;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  outline: none;
  padding: 8px;
  width: 100%;
  &:focus{
    background-color: #ffffff;
    border: none;
    outline: none;
  }
}
