$gap: 32px !default;

$mobile: 576px !default;
$tablet: 768px !default;
$desktop: 928px + (2 * $gap) !default;
$widescreen: 1136px + (2 * $gap) !default;
$fullhd: 1376px + (2 * $gap) !default;

@mixin mobile {
  @media screen and (min-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}

@mixin widescreen {
  @media screen and (min-width: #{$widescreen}) {
    @content;
  }
}

@mixin fullhd {
  @media screen and (min-width: #{$fullhd}) {
    @content;
  }
}
